chromadb==0.6.3
fastapi==0.115.12
nltk==3.9.1
numpy==2.2.4
openai==1.69.0
pandas==2.2.3
pydantic==2.11.1
python-dotenv==1.1.0
scikit_learn==1.6.1
setuptools==78.1.0
setuptools==75.1.0
sse_starlette==1.6.5
torch==2.6.0+cu126
tqdm==4.66.5
transformers==4.50.3
uvicorn==0.34.0
